<!-- 
    Pull layout incorporates the basic structure of Regular layout. 
    - a separate layout for Pull Area allows a separate color scheme
      by adding a unique css file folowing the regularStyles.css file
      Color rules are moved from regularStyles.css to the 
      while retaining the overall structure of the page
-->

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--
         <link rel="stylesheet"
               asp-href-include="/lib/bootstrap/dist/**/*.min.css"
               asp-href-exclude="**/*-reboot*" />
         <link rel="stylesheet" asp-href-include="/lib/font-awesome/css/*.css" />
    -->
    <link rel="stylesheet" asp-href-include="~/css/regularStyles01.css">
    <script defer src="~/js/openingScripts04.js"></script>
    <link rel="stylesheet" asp-href-include="/lib/fontawesome/css/*.css" />
    <link rel="stylesheet" asp-href-include="~/css/pullColors.css">
    <title> @ViewData["Title"] </title>
</head>

<!--  ------------------ start Body --------------      -->
<body>
    <header>
        <img src="~/images/InvenIcon.png">
        <div>
            @ViewData["pageTitle"]
        </div>
        <img src="~/images/ARCLogo01.jpg">
    </header>


    <div>
        @RenderBody()
    </div>


    <footer>
        <p>
            SHTWIMS03.sln
            @ViewData["pageFooter"]
        </p>
        <div>
            <span style="color:black; font-size:1.2rem;">
                Contact: russell.fisher@redcross.org
            </span>
        </div>
    </footer>
</body>
<!--   --------------- eo Body -------------------   -->

</html>


