@*
    Cart summary view p 277
    - Views/Shared/Components/CartSummary/Default.cshtml
    - called by _Layout-Cart.cshtml file
    - this shows up at top of view showing the total of items ordered, needs help

*@
@{
}
@model Cart

<div >
    @if (Model.Lines.Count() > 0)
    {
        <small class="navbar-text">
            <b>Current Cart:</b>
            @Model.Lines.Sum(x => x.Qty) items
        </small>
    }
    <a class="btn btn-light"
       asp-controller="Cart"
       asp-action="CartIndex"
       asp-route-returnUrl="@ViewContext.HttpContext.Request.PathAndQuery()">
        <i class="fa fa-shopping-cart"></i>
    </a>
</div>