@*
    ** should be renamed to CartLineForm
     /Views/Cart/CartForm.cshtml
    <link tag - ** the asp-append-version="true" forces browser to use updated CSS file
     see: https://stackoverflow.com/questions/38231739/how-to-disable-browser-cache-in-asp-net-core-rc2
*@
@{
    ViewData["Title"] = "Cart Line";
    ViewData["pageTitle"] = "Cart Line Form";
}
@model CartLine

<body>
    <h3> @ViewBag.AmPm  Welcome to Sam Houston Territory Inventory Management System </h3>

    <form method="post">

        <fieldset>
            <legend>Pull Item - Data Input</legend>
            <ul>

                <li class="form-group">

                    <label asp-for="ItemId">ItemId</label>
                    <input class="form-control" asp-for="ItemId" readonly />
                </li>

                <li>
                    <label asp-for="UoM">UoM</label>
                    <input asp-for="UoM" readonly />
                </li>

                <li>
                    <label asp-for="Description">Description</label>
                    <input asp-for="Description" readonly />
                </li>

                <li>
                    <label asp-for="Qty"></label>
                    <input asp-for="Qty" min="1" autofocus />
                </li>
                <li>
                    <label asp-for="DateNeeded"></label>
                    <!-- input class="formInputDate" type="date" asp-for="DateNeeded" asp-format="{0:dd-mm-yy}" / -->
                    <input class="formInputDate" type="date" asp-for="DateNeeded" />
                </li>
                <li>
                    <label asp-for="Comment"></label>
                    <textarea asp-for="Comment"></textarea>
                </li>

                <!-- Add To Cart  -->
                <li>
                    <!--
                    <input type="hidden" asp-for="CartLineId" />
                    -->
                    <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
                    <span class="card-text p-1">

                        <button type="submit" class="btn btn-success btn-sm pull-right" style="float:right" asp-action="AddToCart">
                            Add to Cart
                        </button>
                    </span>
                </li>
            </ul>
        </fieldset>
    </form>


</body>
