@*
    This is not a normal Index view, it beginss the CartLine creation process
    /Cart/Index - CartController Index View requests a searchString to send to CiListFiltered action 
   

*@
@{
    ViewData["Title"] = "Cart Line Item";    
    ViewData["pageTitle"] = "Cart Line Item Filter";
}

<body>
    <div>
        <fieldset>
            <legend>Input a search word or string</legend>            
            <!-- make an input box and send filter string to ICListFilter action method in CartController -->
            <form asp-action="CiListFiltered">
                <div>
                    <p>
                        Find by: <input id="filterString" type="text" name="filterString" />
                        <input type="submit" value="Search" class="btn btn-sm" />

                    </p>
                </div>
            </form>
        </fieldset>
    </div>
</body>