@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@*
     PullMenu.cshtml, 210527
     Author: Russell Fisher
     Comment: update to a simple landing point to service requests dealing with pulls on inventory

    url path = / Pull / PullHdr / PullMenu

*@

@{
    ViewData["Title"] = "Pull Menu";
    ViewData["pageTitle"] = "Inventory Pull Options";
    Layout = "_Layout-Pull";
}

    <!--this is the first div element inside the Body element-->
    <div class="pullMenuBackground">

    <h2>Main Pull Menu</h2>

    <div class="menuItem">
        New Pull Order
        <button asp-area="Pull" asp-controller="Cart" asp-action="Index"  >Go</button>
        <div class="menuHide">Request some supplies from Disaster Field Supply Center (DFSC) </div>
    </div>


    <div class="menuItem">
        Pull Order List
        <button>Go</button>

        <div class="menuHide">See a list of recent Pull Orders from your location</div>
    </div>


    <div class="menuItem">
        Print Pull Item List
        <button>Go</button>
        <div class="menuHide">Print a list of items for a single Pull Order</div>
    </div>


    <div class="menuItem">
        Catalog
        <button>Go</button>
        <div class="menuHide">See a scroll list of catalog items</div>
    </div>

</div>