@*
    PullIndex.cshtml, 210403
    Author: Russell Fisher
    - opening view to not only pull from inventory but also to enable various pull utility capabilities

 *@
@{
    ViewData["Title"] = "Pull Index";
    ViewData["pageTitle"] = "Pull Index ";
}

<body>
    <div>
        <h2> Welcome to Pull Index View</h2>
    </div>
</body>