@*
    CiFilteredScrollList.cshtml, 
    - this vies shows a filtered list of CatalogItems, nav = Back option only
*@

@model List<CatalogItem>

@{       
    ViewData["Title"] = "Filtered List";
    ViewData["pageTitle"] = "Filtered CiScrollList";
}

<body>
    <div> <!-- this div element is the main formatting target -->
        <a asp-action="searchString">Back</a>

        <div style="height:400px; overflow:auto; background-color:mistyrose; padding-left:2rem">

            @foreach (var itm in Model)
            {
                <p id=ciListItem> @itm.ItemId - @itm.Description </p>
            }
        </div>
    </div>
</body>

