@*
    a scrollable List of Catalog items using scrollIntoView method
    - this view should be marked for deletion 
*@

@model IEnumerable<CatalogItem>

@{ 
    ViewData["Title"] = "CI Scroll List";
    ViewData["pageTitle"] = "Catalog Item Scroll List";
}

<body>
<div id="scrollList" >
    <div id="content">
        @foreach (var cat in Model)
        {
            <span>
                <dfn>@cat.ItemId</dfn> @cat.Description<br />
            </span>
        }
    </div>
</div>
</body>