	@*
    /CatalogItem/Index.cshtml 

     shows welcome message with ViewData["Title"] and foreach loop for the list view of all CatalogItems
     For the SearchList  
        URL  redirects to /Views/Cart/CiScrollList

*@
@model IEnumerable<CatalogItem>
@{
    ViewData["Title"] = "Catalog Item Index";
    ViewData["pageTitle"] = "CiSelectList";

}

<body>
    <!-- make an input box and send filter string to ICListFilter action method in CartController -->

    <div>
        <h2> @ViewBag.AmPm  Welcome to Sam Houston Territory Inventory Management System </h2>

        <a asp-action="CiFilteredScrollList">Click to view Item List</a><br />


        <!-- make an input box and send results to ICListFilter action method in HomeController -->
        <form asp-action="CiListFilter" method="get">
            <div class="form-actions">
                <p>
                    Find by name: <input type="text" name="searchString" value="@ViewData["fltDescr"]" />
                    <input type="submit" value="Search" />

                </p>
            </div>
        </form>
    </div>
</body>
