/*   openingStyles03.css for opening screen, updated 210327   */


/* font section */
html {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    color: red;
}

h2 {
    color: blue;
}

header {

}

/*  */
html {
   
    background-color: rgb(150,150,170);
    border: 2px solid purple;
    max-height: 750px;
    margin: auto;
}

body {
    border: 2px solid darkred;
    background-color: rgb(240, 200,200);
    margin: 20px auto;
    max-height: 650px;
    max-width: 1000px;
}

header{ 
  display: inline;
  grid-column:1/11;
  grid-row: 1/2;
}

h1{
    color: red;
   }

h2{
   color: blue;
}

/* open menu button */
.HmBgr01 {
    margin-left: 10px;
    width: 30px; 
    height: 30px;
}


/*move ARC logo to the right  */
.img-float-right{
  float: right;
  margin-left: 50px;
}

.img-float-left{
  float: left;
  margin-right: 50px;
}


/* The side navigation menu */
.sidenav {
  max-height: 700px; /* use max-height  */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */  
  background-color: #ff0000; /* Red*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.75s; /* 0.5 second transition effect to slide in the sidenav */
}


/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color:black;
  display: block;
  transition: 0.75s;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left 1.5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* ------------------- general styles and grid coordinates --------------------- */

.suContainer{
  	    max-width: 1000px;
        display: grid;
        grid-template-columns: repeat(10, minmax(50px,100px));
	    grid-template-rows: repeat(8, minmax(50px,1fr));
        grid-gap: 10px;
	    
	}

div img{
    width: 80px;
    height: 80px;
    }

header div{
border:2px solid red; 
border-radius: 5px;
background-color: rgb(245, 215, 215);		
display:flex; 
align-items: center; 
justify-content:space-between;
}

#txMap{
    width:520px; 
    height:480px; 
    grid-column: 3/10; 
    grid-row:2 / 9; 
}

#greetpara{
    grid-column: 2/10;
    grid-row: 2/3;
    color: rgba(178,34,34,1.0);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

#pGetStarted{
    grid-column: 3/9;
    grid-row: 2/3;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

aside
  {
	font-family:  cursive ;
	font-weight: bold;
	font-size: 18px;  
    color: rgb(165,75,75);
	text-align: center;
	width; 200px;   
	grid-column: 3/6; 
	grid-row: 3/5;  	
	background-color: rgba(230,150, 150, 0.2 );
   }

