@*
    Pull/PullAdmin/Index.cshtml, 210504

*@
@{         
    ViewData["Title"] = "PullAdmin Index";
    ViewData["pageTitle"] = "Pull Admin Index View";
}
<body>
    <h2>Pull Admin Index View</h2>

</body>