@*
    PullEdit.cshtml, 210510
    Author: Russell Fisher
*@

@model PullHdr
@{
    ViewData["Title"] = "Pull Edit";
    ViewData["pageTitle"] = "Pull Edit Form";
    Layout = "_Layout-Reg";
}
<div>
 <h2>  Pull Header Editing Page </h2>
    <p> Pull Header Id @Model.PullHdrId</p>

</div>